
  .container {
    
    display: grid;

    grid-template-columns: repeat(9, 1fr);
   

    min-height: 100vh;
    border: mediumspringgreen 0.01vw solid;
    opacity: 0.9;
    border-radius: 20px;


    background-color: rgba(34, 182, 133, 1);
    
  }

  .item{
    padding: 5%;
    grid-column: 3 / 8;
    grid-row: 1 / 4;
    

  }

  