.container {
 
  padding: 25%;


}



.menuChoice {
 
  
color: #E8F6EF;
  width: 15vw;
  height: 4vw;


  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  
  font-size: 1.5vw;
  transform: scale(1);
  transform-origin: center center;
  text-rendering: auto;
 

}

.menuChoice {
  transition: all 0.2s ease-in-out;
}


.menuChoice:hover {

  background-color: #1b9C85;
  transform: scale(0.9)
}