td{
    padding: 1%;
}


tr{
    background-color: rgb(49, 184, 132);
   
}

table{
    color: white;

    
    font-size: 1vw;
}

th{
    background-color: rgb(35, 37, 112);
}


.thColor{
    background-color: rgb(35, 37, 112);
}
.tdColor{
  
    background-color: rgb(35, 37, 112);
}

.container{
   
}