.container{
    display: grid;
    max-height: 90vh;
    width: 40vw;
    overflow-y: scroll;
    overflow-x: clip;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;
   ;
}

.container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}

.deleteButton
{
    background-color: rgb(202, 49, 49);
}

.deleteButton:hover
{
    background-color: rgb(255, 34, 34);
    cursor: pointer;
}
td{
    padding: 1%;
}


tr{
    background-color: rgb(49, 184, 132);
   
}


table{
    
   
   
 
    gap: 0.5rem;
    color: white;

    
    font-size: 1vw;
}

th{
    background-color: rgb(35, 37, 112);
}


.thColor{
    background-color: rgb(35, 37, 112);
}
.tdColor{
  
    background-color: rgb(35, 37, 112);
}

