.container{
    display: grid;
    max-height: 90vh;
    width: 60vw;

 
}

.container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}

.deleteButton
{
    background-color: #ff9f9f;
}

.deleteButton:hover
{
    background-color: #ff8484;
    cursor: pointer;
}
td{
    padding: 1%;
}


tr{
    background-color: #dbdbdb
   
}


table{
    
   
   
 
    gap: 0.5rem;
    color: #4d4b4b;

    
    font-size: 1vw;
}

th{
   
    background-color: #f2f2f2;
}


.thColor{

    background-color: #E8F6EF;
}
.tdColor{

    background-color: #f2f2f2;
}

