@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.buttonTimer {
  background-color: #f2f2f2;
  color: #1d1d1d;
  

  
  }

  .buttonTimerPomodoro {
    background-color: #f2f2f2;
    color: #1d1d1d;
  }

  .buttonTimerPomodoro:hover{
    background-color: #f35449;
    
  }

  .buttonTimerSwitch{
    background-color: #f2f2f2;
    color: #1d1d1d;
    padding: 5%;
    font-size: 15px;
  }

  .container{
    display: grid;
    max-height: 100vh;
    grid-template-rows:  75% 25%;
    grid-template-columns: 4fr ;
  
    width: 60vw;
    
  }
  .buttonsDiv{
    margin-top: 5%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 0.1fr;
    gap: 0.5rem;
    
 
    justify-content: center;
    font-size: 7vh;
    
  }

  .buttonTimer:hover{
    background-color: #49f3bb;
   
  }
  .middleIcon{
    margin: auto;
    scale: 1.5;
    color: #E8F6EF;
    font-weight: bold;
    
  }

  .timerDiv { 
   
    margin: auto;

  
  }
  
  .timerCircle {
 
    position: relative;
  
 
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    background-color: #f2f2f2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
  }

  .timerCirclePomodoro{
    background-color: #f2f2f2;
  }

  .timerCirclePaused {
    background-color: #e7e7e7;

  }
  
  .progressBar {
    
    position: absolute;
    top: 0;

    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid #49f3bb;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
   
  }

  .progressBarPomodoro {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #f35449;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
   
  }


  
  .progressBarAnimation {
    animation-play-state: running;
    animation: progress 1s linear infinite;
    animation-fill-mode: forwards;
  
  }

  .progressBarAnimationPomodoro {
    animation-play-state: running;
    animation: progress 1s linear reverse infinite;
    animation-fill-mode: forwards;
  
  }
  
 


  .timerText {
    font-size: 6vh;
    
    
    color: #000000;
  }
  @keyframes progress {
    0% {
      transform: rotate(0deg);
    }
    25%{
      transform: rotate(90deg);
    }
    50%{
      transform: rotate(180deg);
    }
    75%{
      transform: rotate(270deg);
      
    }
    100% {
      transform: rotate(360deg);
    }
  }