@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.container{
    padding: 10%;
    border: mediumspringgreen 0.01vw solid;
    border-radius: 2%;
    width: 85vh;
    height: 100vh;
    margin-left: 2%;
    float:left;
 background-color: rgba(34,182,133,1);
}

.buttonTimer {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full;
  }


  .timerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .timerCircle {
    position: relative;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .progressBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 20px solid blue;
    border-top-color: transparent;
    border-right-color: transparent;
   
  }



  
  .progressBarAnimation {
    animation: progress 5s linear infinite;
    animation-fill-mode: forwards;
  }

  .progressBarStopped {
    animation: none;
  }
  
  .timerText {
    font-size: 2rem;
    color: white;
  }
  @keyframes progress {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }